.box {
    background-color: aqua;
    width: 500px;
    min-height: 600px;
    padding: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100dvh;
}

#list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#list li button {
    margin-left: 1rem;
}