
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  /* text-align: center; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: azure;
  transition: linear 0.10s;
}
button:hover {
  /* border-color: #e88787; */
  transform: scale(0.98);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  display: flex;
  flex-direction: column;
  /* height: 525px; */
  width: 350px;
  justify-content: space-around;
  padding: 1.5rem;
  /* border: 1px solid black; */
  box-shadow: 4px 9px 20px 3px #6dcbdd;;
  border-radius: 1.5rem;
}

.container h1 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  /* background-color: #535bf2; */
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}

:placeholder-shown {
  font-style: italic;
}

input:focus-visible {
  outline: none;
  border-bottom: 2px solid #646cff;
}

form button {
  margin: 1rem 0 1rem 0;
}

span {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}